/*
 * LobLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package com.lob.api.controllers;

import com.fasterxml.jackson.core.JsonProcessingException;
import com.lob.api.ApiHelper;
import com.lob.api.Server;
import com.lob.api.exceptions.ApiException;
import com.lob.api.exceptions.ErrorErrorException;
import com.lob.api.http.request.HttpMethod;
import com.lob.api.models.AllPostcards;
import com.lob.api.models.BeforeAfter;
import com.lob.api.models.MailTypeEnum;
import com.lob.api.models.Postcard;
import com.lob.api.models.PostcardDeletion;
import com.lob.api.models.PostcardEditable;
import com.lob.api.models.PostcardSizeEnum;
import com.lob.api.models.SortBy1;
import com.lob.api.models.containers.SendDate;
import io.apimatic.core.ApiCall;
import io.apimatic.core.ErrorCase;
import io.apimatic.core.GlobalConfiguration;
import java.io.IOException;
import java.util.List;
import java.util.Map;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.CompletionException;

/**
 * This class lists all the endpoints of the groups.
 */
public final class PostcardsController extends BaseController {

    /**
     * Initializes the controller.
     * @param globalConfig    Configurations added in client.
     */
    public PostcardsController(GlobalConfiguration globalConfig) {
        super(globalConfig);
    }

    /**
     * Retrieves the details of an existing postcard. You need only supply the unique customer
     * identifier that was returned upon postcard creation.
     * @param  pscId  Required parameter: id of the postcard
     * @return    Returns the Postcard response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public Postcard postcardRetrieve(
            final String pscId) throws ApiException, IOException {
        return preparePostcardRetrieveRequest(pscId).execute();
    }

    /**
     * Retrieves the details of an existing postcard. You need only supply the unique customer
     * identifier that was returned upon postcard creation.
     * @param  pscId  Required parameter: id of the postcard
     * @return    Returns the Postcard response from the API call
     */
    public CompletableFuture<Postcard> postcardRetrieveAsync(
            final String pscId) {
        try { 
            return preparePostcardRetrieveRequest(pscId).executeAsync(); 
        } catch (Exception e) {  
            throw new CompletionException(e); 
        }
    }

    /**
     * Builds the ApiCall object for postcardRetrieve.
     */
    private ApiCall<Postcard, ApiException> preparePostcardRetrieveRequest(
            final String pscId) throws IOException {
        return new ApiCall.Builder<Postcard, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/postcards/{psc_id}")
                        .templateParam(param -> param.key("psc_id").value(pscId)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .authenticationKey(BaseController.AUTHENTICATION_KEY)
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, Postcard.class))
                        .nullify404(false)
                        .localErrorCase(ErrorCase.DEFAULT,
                                 ErrorCase.setReason("Error",
                                (reason, context) -> new ErrorErrorException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Completely removes a postcard from production. This can only be done if the postcard has a
     * `send_date` and the `send_date` has not yet passed. If the postcard is successfully canceled,
     * you will not be charged for it. Read more on [cancellation
     * windows](#section/Cancellation-Windows) and [scheduling](#section/Scheduled-Mailings).
     * Scheduling and cancellation is a premium feature. Upgrade to the appropriate &lt;a
     * href="https://dashboard.lob.com/#/settings/editions" target="_blank"&gt;Print &amp; Mail Edition&lt;/a&gt;
     * to gain access.
     * @param  pscId  Required parameter: id of the postcard
     * @return    Returns the PostcardDeletion response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public PostcardDeletion postcardDelete(
            final String pscId) throws ApiException, IOException {
        return preparePostcardDeleteRequest(pscId).execute();
    }

    /**
     * Completely removes a postcard from production. This can only be done if the postcard has a
     * `send_date` and the `send_date` has not yet passed. If the postcard is successfully canceled,
     * you will not be charged for it. Read more on [cancellation
     * windows](#section/Cancellation-Windows) and [scheduling](#section/Scheduled-Mailings).
     * Scheduling and cancellation is a premium feature. Upgrade to the appropriate &lt;a
     * href="https://dashboard.lob.com/#/settings/editions" target="_blank"&gt;Print &amp; Mail Edition&lt;/a&gt;
     * to gain access.
     * @param  pscId  Required parameter: id of the postcard
     * @return    Returns the PostcardDeletion response from the API call
     */
    public CompletableFuture<PostcardDeletion> postcardDeleteAsync(
            final String pscId) {
        try { 
            return preparePostcardDeleteRequest(pscId).executeAsync(); 
        } catch (Exception e) {  
            throw new CompletionException(e); 
        }
    }

    /**
     * Builds the ApiCall object for postcardDelete.
     */
    private ApiCall<PostcardDeletion, ApiException> preparePostcardDeleteRequest(
            final String pscId) throws IOException {
        return new ApiCall.Builder<PostcardDeletion, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/postcards/{psc_id}")
                        .templateParam(param -> param.key("psc_id").value(pscId)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .authenticationKey(BaseController.AUTHENTICATION_KEY)
                        .httpMethod(HttpMethod.DELETE))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, PostcardDeletion.class))
                        .nullify404(false)
                        .localErrorCase(ErrorCase.DEFAULT,
                                 ErrorCase.setReason("Error",
                                (reason, context) -> new ErrorErrorException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Returns a list of your postcards. The addresses are returned sorted by creation date, with
     * the most recently created addresses appearing first.
     * @param  limit  Optional parameter: How many results to return.
     * @param  beforeAfter  Optional parameter: `before` and `after` are both optional but only one
     *         of them can be in the query at a time.
     * @param  include  Optional parameter: Request that the response include the total count by
     *         specifying `include=["total_count"]`.
     * @param  dateCreated  Optional parameter: Filter by date created. Accepted formats are
     *         ISO-8601 date or datetime, e.g. `{ "gt": "2012-01-01", "lt": "2012-01-31T12:34:56Z"
     *         }` where `gt` is &gt;, `lt` is &lt;, `gte` is ≥, and `lte` is ≤.
     * @param  metadata  Optional parameter: Filter by metadata key-value pair`.
     * @param  size  Optional parameter: Specifies the size of the postcard. Only `4x6` postcards
     *         can be sent to international destinations.
     * @param  scheduled  Optional parameter: * `true` - only return orders (past or future) where
     *         `send_date` is greater than `date_created` * `false` - only return orders where
     *         `send_date` is equal to `date_created`
     * @param  sendDate  Optional parameter: Filter by ISO-8601 date or datetime, e.g. `{ "gt":
     *         "2012-01-01", "lt": "2012-01-31T12:34:56Z" }` where `gt` is &gt;, `lt` is &lt;, `gte`
     *         is ≥, and `lte` is ≤.
     * @param  mailType  Optional parameter: A string designating the mail postage type: *
     *         `usps_first_class` - (default) * `usps_standard` - a &lt;a
     *         href="https://lob.com/pricing/print-mail#compare" target="_blank"&gt;cheaper
     *         option&lt;/a&gt; which is less predictable and takes longer to deliver.
     *         `usps_standard` cannot be used with `4x6` postcards or for any postcards sent outside
     *         of the United States.
     * @param  sortBy  Optional parameter: Sorts items by ascending or descending dates. Use either
     *         `date_created` or `send_date`, not both.
     * @return    Returns the AllPostcards response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public AllPostcards postcardsList(
            final Integer limit,
            final BeforeAfter beforeAfter,
            final List<String> include,
            final Map<String, String> dateCreated,
            final Map<String, String> metadata,
            final List<PostcardSizeEnum> size,
            final Boolean scheduled,
            final SendDate sendDate,
            final MailTypeEnum mailType,
            final SortBy1 sortBy) throws ApiException, IOException {
        return preparePostcardsListRequest(limit, beforeAfter, include, dateCreated, metadata, size,
                scheduled, sendDate, mailType, sortBy).execute();
    }

    /**
     * Returns a list of your postcards. The addresses are returned sorted by creation date, with
     * the most recently created addresses appearing first.
     * @param  limit  Optional parameter: How many results to return.
     * @param  beforeAfter  Optional parameter: `before` and `after` are both optional but only one
     *         of them can be in the query at a time.
     * @param  include  Optional parameter: Request that the response include the total count by
     *         specifying `include=["total_count"]`.
     * @param  dateCreated  Optional parameter: Filter by date created. Accepted formats are
     *         ISO-8601 date or datetime, e.g. `{ "gt": "2012-01-01", "lt": "2012-01-31T12:34:56Z"
     *         }` where `gt` is &gt;, `lt` is &lt;, `gte` is ≥, and `lte` is ≤.
     * @param  metadata  Optional parameter: Filter by metadata key-value pair`.
     * @param  size  Optional parameter: Specifies the size of the postcard. Only `4x6` postcards
     *         can be sent to international destinations.
     * @param  scheduled  Optional parameter: * `true` - only return orders (past or future) where
     *         `send_date` is greater than `date_created` * `false` - only return orders where
     *         `send_date` is equal to `date_created`
     * @param  sendDate  Optional parameter: Filter by ISO-8601 date or datetime, e.g. `{ "gt":
     *         "2012-01-01", "lt": "2012-01-31T12:34:56Z" }` where `gt` is &gt;, `lt` is &lt;, `gte`
     *         is ≥, and `lte` is ≤.
     * @param  mailType  Optional parameter: A string designating the mail postage type: *
     *         `usps_first_class` - (default) * `usps_standard` - a &lt;a
     *         href="https://lob.com/pricing/print-mail#compare" target="_blank"&gt;cheaper
     *         option&lt;/a&gt; which is less predictable and takes longer to deliver.
     *         `usps_standard` cannot be used with `4x6` postcards or for any postcards sent outside
     *         of the United States.
     * @param  sortBy  Optional parameter: Sorts items by ascending or descending dates. Use either
     *         `date_created` or `send_date`, not both.
     * @return    Returns the AllPostcards response from the API call
     */
    public CompletableFuture<AllPostcards> postcardsListAsync(
            final Integer limit,
            final BeforeAfter beforeAfter,
            final List<String> include,
            final Map<String, String> dateCreated,
            final Map<String, String> metadata,
            final List<PostcardSizeEnum> size,
            final Boolean scheduled,
            final SendDate sendDate,
            final MailTypeEnum mailType,
            final SortBy1 sortBy) {
        try { 
            return preparePostcardsListRequest(limit, beforeAfter, include, dateCreated, metadata, size,
            scheduled, sendDate, mailType, sortBy).executeAsync(); 
        } catch (Exception e) {  
            throw new CompletionException(e); 
        }
    }

    /**
     * Builds the ApiCall object for postcardsList.
     */
    private ApiCall<AllPostcards, ApiException> preparePostcardsListRequest(
            final Integer limit,
            final BeforeAfter beforeAfter,
            final List<String> include,
            final Map<String, String> dateCreated,
            final Map<String, String> metadata,
            final List<PostcardSizeEnum> size,
            final Boolean scheduled,
            final SendDate sendDate,
            final MailTypeEnum mailType,
            final SortBy1 sortBy) throws IOException {
        return new ApiCall.Builder<AllPostcards, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/postcards")
                        .queryParam(param -> param.key("limit")
                                .value((limit != null) ? limit : 10).isRequired(false))
                        .queryParam(param -> param.key("before/after")
                                .value(beforeAfter).isRequired(false))
                        .queryParam(param -> param.key("include")
                                .value(include).isRequired(false))
                        .queryParam(param -> param.key("date_created")
                                .value(dateCreated).isRequired(false))
                        .queryParam(param -> param.key("metadata")
                                .value(metadata).isRequired(false))
                        .queryParam(param -> param.key("size")
                                .value(PostcardSizeEnum.toValue(size)).isRequired(false))
                        .queryParam(param -> param.key("scheduled")
                                .value(scheduled).isRequired(false))
                        .queryParam(param -> param.key("send_date")
                                .value(sendDate).isRequired(false))
                        .queryParam(param -> param.key("mail_type")
                                .value((mailType != null) ? mailType.value() : "usps_first_class").isRequired(false))
                        .queryParam(param -> param.key("sort_by")
                                .value(sortBy).isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .authenticationKey(BaseController.AUTHENTICATION_KEY)
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, AllPostcards.class))
                        .nullify404(false)
                        .localErrorCase(ErrorCase.DEFAULT,
                                 ErrorCase.setReason("Error",
                                (reason, context) -> new ErrorErrorException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Creates a new postcard given information.
     * @param  body  Required parameter: Example:
     * @param  idempotencyKey  Optional parameter: A string of no longer than 256 characters that
     *         uniquely identifies this resource. For more help integrating idempotency keys, refer
     *         to our &lt;a
     *         href="https://help.lob.com/print-and-mail/building-a-mail-strategy/managing-mail-settings#idempotent-requests-12"
     *         target="_blank"&gt;implementation guide&lt;/a&gt;.
     * @return    Returns the Postcard response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public Postcard postcardCreate(
            final PostcardEditable body,
            final String idempotencyKey) throws ApiException, IOException {
        return preparePostcardCreateRequest(body, idempotencyKey).execute();
    }

    /**
     * Creates a new postcard given information.
     * @param  body  Required parameter: Example:
     * @param  idempotencyKey  Optional parameter: A string of no longer than 256 characters that
     *         uniquely identifies this resource. For more help integrating idempotency keys, refer
     *         to our &lt;a
     *         href="https://help.lob.com/print-and-mail/building-a-mail-strategy/managing-mail-settings#idempotent-requests-12"
     *         target="_blank"&gt;implementation guide&lt;/a&gt;.
     * @return    Returns the Postcard response from the API call
     */
    public CompletableFuture<Postcard> postcardCreateAsync(
            final PostcardEditable body,
            final String idempotencyKey) {
        try { 
            return preparePostcardCreateRequest(body, idempotencyKey).executeAsync(); 
        } catch (Exception e) {  
            throw new CompletionException(e); 
        }
    }

    /**
     * Builds the ApiCall object for postcardCreate.
     */
    private ApiCall<Postcard, ApiException> preparePostcardCreateRequest(
            final PostcardEditable body,
            final String idempotencyKey) throws JsonProcessingException, IOException {
        return new ApiCall.Builder<Postcard, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/postcards")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("Idempotency-Key")
                                .value(idempotencyKey).isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .authenticationKey(BaseController.AUTHENTICATION_KEY)
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, Postcard.class))
                        .nullify404(false)
                        .localErrorCase(ErrorCase.DEFAULT,
                                 ErrorCase.setReason("Error",
                                (reason, context) -> new ErrorErrorException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }
}