/*
 * LobLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package com.lob.api.controllers;

import com.fasterxml.jackson.core.JsonProcessingException;
import com.lob.api.ApiHelper;
import com.lob.api.Server;
import com.lob.api.exceptions.ApiException;
import com.lob.api.exceptions.ErrorErrorException;
import com.lob.api.http.request.HttpMethod;
import com.lob.api.models.AllSelfMailers;
import com.lob.api.models.BeforeAfter;
import com.lob.api.models.MailTypeEnum;
import com.lob.api.models.SelfMailer;
import com.lob.api.models.SelfMailerDeletion;
import com.lob.api.models.SelfMailerEditable;
import com.lob.api.models.SelfMailerSizeEnum;
import com.lob.api.models.SortBy1;
import com.lob.api.models.containers.SendDate;
import io.apimatic.core.ApiCall;
import io.apimatic.core.ErrorCase;
import io.apimatic.core.GlobalConfiguration;
import java.io.IOException;
import java.util.List;
import java.util.Map;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.CompletionException;

/**
 * This class lists all the endpoints of the groups.
 */
public final class SelfMailersController extends BaseController {

    /**
     * Initializes the controller.
     * @param globalConfig    Configurations added in client.
     */
    public SelfMailersController(GlobalConfiguration globalConfig) {
        super(globalConfig);
    }

    /**
     * Retrieves the details of an existing self_mailer. You need only supply the unique self_mailer
     * identifier that was returned upon self_mailer creation.
     * @param  sfmId  Required parameter: id of the self_mailer
     * @return    Returns the SelfMailer response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public SelfMailer selfMailerRetrieve(
            final String sfmId) throws ApiException, IOException {
        return prepareSelfMailerRetrieveRequest(sfmId).execute();
    }

    /**
     * Retrieves the details of an existing self_mailer. You need only supply the unique self_mailer
     * identifier that was returned upon self_mailer creation.
     * @param  sfmId  Required parameter: id of the self_mailer
     * @return    Returns the SelfMailer response from the API call
     */
    public CompletableFuture<SelfMailer> selfMailerRetrieveAsync(
            final String sfmId) {
        try { 
            return prepareSelfMailerRetrieveRequest(sfmId).executeAsync(); 
        } catch (Exception e) {  
            throw new CompletionException(e); 
        }
    }

    /**
     * Builds the ApiCall object for selfMailerRetrieve.
     */
    private ApiCall<SelfMailer, ApiException> prepareSelfMailerRetrieveRequest(
            final String sfmId) throws IOException {
        return new ApiCall.Builder<SelfMailer, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/self_mailers/{sfm_id}")
                        .templateParam(param -> param.key("sfm_id").value(sfmId)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .authenticationKey(BaseController.AUTHENTICATION_KEY)
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, SelfMailer.class))
                        .nullify404(false)
                        .localErrorCase(ErrorCase.DEFAULT,
                                 ErrorCase.setReason("Error",
                                (reason, context) -> new ErrorErrorException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Completely removes a self mailer from production. This can only be done if the self mailer's
     * `send_date` has not yet passed. If the self mailer is successfully canceled, you will not be
     * charged for it. This feature is exclusive to certain customers. Upgrade to the appropriate &lt;a
     * href="https://dashboard.lob.com/#/settings/editions" target="_blank"&gt;Print &amp; Mail Edition&lt;/a&gt;
     * to gain access.
     * @param  sfmId  Required parameter: id of the self_mailer
     * @return    Returns the SelfMailerDeletion response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public SelfMailerDeletion selfMailerDelete(
            final String sfmId) throws ApiException, IOException {
        return prepareSelfMailerDeleteRequest(sfmId).execute();
    }

    /**
     * Completely removes a self mailer from production. This can only be done if the self mailer's
     * `send_date` has not yet passed. If the self mailer is successfully canceled, you will not be
     * charged for it. This feature is exclusive to certain customers. Upgrade to the appropriate &lt;a
     * href="https://dashboard.lob.com/#/settings/editions" target="_blank"&gt;Print &amp; Mail Edition&lt;/a&gt;
     * to gain access.
     * @param  sfmId  Required parameter: id of the self_mailer
     * @return    Returns the SelfMailerDeletion response from the API call
     */
    public CompletableFuture<SelfMailerDeletion> selfMailerDeleteAsync(
            final String sfmId) {
        try { 
            return prepareSelfMailerDeleteRequest(sfmId).executeAsync(); 
        } catch (Exception e) {  
            throw new CompletionException(e); 
        }
    }

    /**
     * Builds the ApiCall object for selfMailerDelete.
     */
    private ApiCall<SelfMailerDeletion, ApiException> prepareSelfMailerDeleteRequest(
            final String sfmId) throws IOException {
        return new ApiCall.Builder<SelfMailerDeletion, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/self_mailers/{sfm_id}")
                        .templateParam(param -> param.key("sfm_id").value(sfmId)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .authenticationKey(BaseController.AUTHENTICATION_KEY)
                        .httpMethod(HttpMethod.DELETE))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, SelfMailerDeletion.class))
                        .nullify404(false)
                        .localErrorCase(ErrorCase.DEFAULT,
                                 ErrorCase.setReason("Error",
                                (reason, context) -> new ErrorErrorException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Returns a list of your self_mailers. The self_mailers are returned sorted by creation date,
     * with the most recently created self_mailers appearing first.
     * @param  limit  Optional parameter: How many results to return.
     * @param  beforeAfter  Optional parameter: `before` and `after` are both optional but only one
     *         of them can be in the query at a time.
     * @param  include  Optional parameter: Request that the response include the total count by
     *         specifying `include=["total_count"]`.
     * @param  dateCreated  Optional parameter: Filter by date created. Accepted formats are
     *         ISO-8601 date or datetime, e.g. `{ "gt": "2012-01-01", "lt": "2012-01-31T12:34:56Z"
     *         }` where `gt` is &gt;, `lt` is &lt;, `gte` is ≥, and `lte` is ≤.
     * @param  metadata  Optional parameter: Filter by metadata key-value pair`.
     * @param  size  Optional parameter: The self mailer sizes to be returned.
     * @param  scheduled  Optional parameter: * `true` - only return orders (past or future) where
     *         `send_date` is greater than `date_created` * `false` - only return orders where
     *         `send_date` is equal to `date_created`
     * @param  sendDate  Optional parameter: Filter by ISO-8601 date or datetime, e.g. `{ "gt":
     *         "2012-01-01", "lt": "2012-01-31T12:34:56Z" }` where `gt` is &gt;, `lt` is &lt;, `gte`
     *         is ≥, and `lte` is ≤.
     * @param  mailType  Optional parameter: A string designating the mail postage type: *
     *         `usps_first_class` - (default) * `usps_standard` - a &lt;a
     *         href="https://lob.com/pricing/print-mail#compare" target="_blank"&gt;cheaper
     *         option&lt;/a&gt; which is less predictable and takes longer to deliver.
     *         `usps_standard` cannot be used with `4x6` postcards or for any postcards sent outside
     *         of the United States.
     * @param  sortBy  Optional parameter: Sorts items by ascending or descending dates. Use either
     *         `date_created` or `send_date`, not both.
     * @return    Returns the AllSelfMailers response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public AllSelfMailers selfMailersList(
            final Integer limit,
            final BeforeAfter beforeAfter,
            final List<String> include,
            final Map<String, String> dateCreated,
            final Map<String, String> metadata,
            final List<SelfMailerSizeEnum> size,
            final Boolean scheduled,
            final SendDate sendDate,
            final MailTypeEnum mailType,
            final SortBy1 sortBy) throws ApiException, IOException {
        return prepareSelfMailersListRequest(limit, beforeAfter, include, dateCreated, metadata,
                size, scheduled, sendDate, mailType, sortBy).execute();
    }

    /**
     * Returns a list of your self_mailers. The self_mailers are returned sorted by creation date,
     * with the most recently created self_mailers appearing first.
     * @param  limit  Optional parameter: How many results to return.
     * @param  beforeAfter  Optional parameter: `before` and `after` are both optional but only one
     *         of them can be in the query at a time.
     * @param  include  Optional parameter: Request that the response include the total count by
     *         specifying `include=["total_count"]`.
     * @param  dateCreated  Optional parameter: Filter by date created. Accepted formats are
     *         ISO-8601 date or datetime, e.g. `{ "gt": "2012-01-01", "lt": "2012-01-31T12:34:56Z"
     *         }` where `gt` is &gt;, `lt` is &lt;, `gte` is ≥, and `lte` is ≤.
     * @param  metadata  Optional parameter: Filter by metadata key-value pair`.
     * @param  size  Optional parameter: The self mailer sizes to be returned.
     * @param  scheduled  Optional parameter: * `true` - only return orders (past or future) where
     *         `send_date` is greater than `date_created` * `false` - only return orders where
     *         `send_date` is equal to `date_created`
     * @param  sendDate  Optional parameter: Filter by ISO-8601 date or datetime, e.g. `{ "gt":
     *         "2012-01-01", "lt": "2012-01-31T12:34:56Z" }` where `gt` is &gt;, `lt` is &lt;, `gte`
     *         is ≥, and `lte` is ≤.
     * @param  mailType  Optional parameter: A string designating the mail postage type: *
     *         `usps_first_class` - (default) * `usps_standard` - a &lt;a
     *         href="https://lob.com/pricing/print-mail#compare" target="_blank"&gt;cheaper
     *         option&lt;/a&gt; which is less predictable and takes longer to deliver.
     *         `usps_standard` cannot be used with `4x6` postcards or for any postcards sent outside
     *         of the United States.
     * @param  sortBy  Optional parameter: Sorts items by ascending or descending dates. Use either
     *         `date_created` or `send_date`, not both.
     * @return    Returns the AllSelfMailers response from the API call
     */
    public CompletableFuture<AllSelfMailers> selfMailersListAsync(
            final Integer limit,
            final BeforeAfter beforeAfter,
            final List<String> include,
            final Map<String, String> dateCreated,
            final Map<String, String> metadata,
            final List<SelfMailerSizeEnum> size,
            final Boolean scheduled,
            final SendDate sendDate,
            final MailTypeEnum mailType,
            final SortBy1 sortBy) {
        try { 
            return prepareSelfMailersListRequest(limit, beforeAfter, include, dateCreated, metadata, size,
            scheduled, sendDate, mailType, sortBy).executeAsync(); 
        } catch (Exception e) {  
            throw new CompletionException(e); 
        }
    }

    /**
     * Builds the ApiCall object for selfMailersList.
     */
    private ApiCall<AllSelfMailers, ApiException> prepareSelfMailersListRequest(
            final Integer limit,
            final BeforeAfter beforeAfter,
            final List<String> include,
            final Map<String, String> dateCreated,
            final Map<String, String> metadata,
            final List<SelfMailerSizeEnum> size,
            final Boolean scheduled,
            final SendDate sendDate,
            final MailTypeEnum mailType,
            final SortBy1 sortBy) throws IOException {
        return new ApiCall.Builder<AllSelfMailers, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/self_mailers")
                        .queryParam(param -> param.key("limit")
                                .value((limit != null) ? limit : 10).isRequired(false))
                        .queryParam(param -> param.key("before/after")
                                .value(beforeAfter).isRequired(false))
                        .queryParam(param -> param.key("include")
                                .value(include).isRequired(false))
                        .queryParam(param -> param.key("date_created")
                                .value(dateCreated).isRequired(false))
                        .queryParam(param -> param.key("metadata")
                                .value(metadata).isRequired(false))
                        .queryParam(param -> param.key("size")
                                .value(SelfMailerSizeEnum.toValue(size)).isRequired(false))
                        .queryParam(param -> param.key("scheduled")
                                .value(scheduled).isRequired(false))
                        .queryParam(param -> param.key("send_date")
                                .value(sendDate).isRequired(false))
                        .queryParam(param -> param.key("mail_type")
                                .value((mailType != null) ? mailType.value() : "usps_first_class").isRequired(false))
                        .queryParam(param -> param.key("sort_by")
                                .value(sortBy).isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .authenticationKey(BaseController.AUTHENTICATION_KEY)
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, AllSelfMailers.class))
                        .nullify404(false)
                        .localErrorCase(ErrorCase.DEFAULT,
                                 ErrorCase.setReason("Error",
                                (reason, context) -> new ErrorErrorException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Creates a new self_mailer given information.
     * @param  body  Required parameter: Example:
     * @param  idempotencyKey  Optional parameter: A string of no longer than 256 characters that
     *         uniquely identifies this resource. For more help integrating idempotency keys, refer
     *         to our &lt;a
     *         href="https://help.lob.com/print-and-mail/building-a-mail-strategy/managing-mail-settings#idempotent-requests-12"
     *         target="_blank"&gt;implementation guide&lt;/a&gt;.
     * @return    Returns the SelfMailer response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public SelfMailer selfMailerCreate(
            final SelfMailerEditable body,
            final String idempotencyKey) throws ApiException, IOException {
        return prepareSelfMailerCreateRequest(body, idempotencyKey).execute();
    }

    /**
     * Creates a new self_mailer given information.
     * @param  body  Required parameter: Example:
     * @param  idempotencyKey  Optional parameter: A string of no longer than 256 characters that
     *         uniquely identifies this resource. For more help integrating idempotency keys, refer
     *         to our &lt;a
     *         href="https://help.lob.com/print-and-mail/building-a-mail-strategy/managing-mail-settings#idempotent-requests-12"
     *         target="_blank"&gt;implementation guide&lt;/a&gt;.
     * @return    Returns the SelfMailer response from the API call
     */
    public CompletableFuture<SelfMailer> selfMailerCreateAsync(
            final SelfMailerEditable body,
            final String idempotencyKey) {
        try { 
            return prepareSelfMailerCreateRequest(body, idempotencyKey).executeAsync(); 
        } catch (Exception e) {  
            throw new CompletionException(e); 
        }
    }

    /**
     * Builds the ApiCall object for selfMailerCreate.
     */
    private ApiCall<SelfMailer, ApiException> prepareSelfMailerCreateRequest(
            final SelfMailerEditable body,
            final String idempotencyKey) throws JsonProcessingException, IOException {
        return new ApiCall.Builder<SelfMailer, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/self_mailers")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("Idempotency-Key")
                                .value(idempotencyKey).isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .authenticationKey(BaseController.AUTHENTICATION_KEY)
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, SelfMailer.class))
                        .nullify404(false)
                        .localErrorCase(ErrorCase.DEFAULT,
                                 ErrorCase.setReason("Error",
                                (reason, context) -> new ErrorErrorException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }
}